body {
	background-color: rgb(132, 157, 143);
}

.price-range {
	position: relative;
	width: 218px;
	height: 36px;
}
.price-range-area {
	position: absolute;
	width: 218px;
	height: 36px;
	background-color: #ffffff;
	opacity: 0.2;
	border-radius: 20px 20px 20px 20px;
}

.price-range-line-nonchecked {
	position: absolute;
	top: 16px;
	right: 21px;
	width: 176px;
	height: 4px;
	background-color: #ffffff;
	opacity: 0.5;
}

.price-range-line-checked {
	position: absolute;
	top: 16px;
	right: 68px;
	width: 106px;
	height: 4px;
	background-color: #ffffff;
}

.price-range-lever-1, 
.price-range-lever-2 {
	position: absolute;
	width: 20px;
	height: 22px;
}

.price-range-lever-1 {
	top: 9px;
	left: 34px;
}

.price-range-lever-2 {
	top: 9px;
	right: 66px;
}