body {
	margin: 0;
	padding: 0;
	min-width: 900px;

	font-family: "Roboto", "Tahoma", sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #ffffff;

	background-color: rgb(132, 157, 143);
}

a {
	text-decoration: underline;
	-webkit-text-decoration-color: rgba(255, 255, 255, 0.2);
	        text-decoration-color: rgba(255, 255, 255, 0.2);
}

input[type=text],
input[type=email],
input[type=password],
input[type=search] {
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 12px;
  margin: 0px;
  min-width: 239px;
  height: 44px;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: bold;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  background-color: #ffffff;
  outline: none;
}

input[type=text]:hover,
input[type=email]:hover,
input[type=password]:hover,
input[type=search]:hover {
  padding: 8px 11px;
  border: 2px solid #c7c6c5;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=search]:focus {
  padding: 8px 11px;
  border: 2px solid #8fbdec;
}

input[type=text]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
input[type=search]::-webkit-input-placeholder {
  color: #999999;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

input[type=text]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
input[type=search]:-ms-input-placeholder {
  color: #999999;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

input[type=text]::-ms-input-placeholder,
input[type=email]::-ms-input-placeholder,
input[type=password]::-ms-input-placeholder,
input[type=search]::-ms-input-placeholder {
  color: #999999;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=password]::placeholder,
input[type=search]::placeholder {
  color: #999999;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

input[type=text]:focus::-webkit-input-placeholder,
input[type=email]:focus::-webkit-input-placeholder,
input[type=password]:focus::-webkit-input-placeholder,
input[type=search]:focus::-webkit-input-placeholder {
  font-size: 0px;
}

input[type=text]:focus:-ms-input-placeholder,
input[type=email]:focus:-ms-input-placeholder,
input[type=password]:focus:-ms-input-placeholder,
input[type=search]:focus:-ms-input-placeholder {
  font-size: 0px;
}

input[type=text]:focus::-ms-input-placeholder,
input[type=email]:focus::-ms-input-placeholder,
input[type=password]:focus::-ms-input-placeholder,
input[type=search]:focus::-ms-input-placeholder {
  font-size: 0px;
}

input[type=text]:focus::placeholder,
input[type=email]:focus::placeholder,
input[type=password]:focus::placeholder,
input[type=search]:focus::placeholder {
  font-size: 0px;
}

textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  margin-bottom: 22px;
  padding: 9px 15px;
  min-width: 428px;
  min-height: 155px;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: bold;
  resize: none;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  outline: none;
}

textarea:hover {
  padding: 8px 14px;
  border: 2px solid #c7c6c5;
}

textarea:focus {
  padding: 8px 14px;
  border: 2px solid #8fbdec;
}

textarea::-webkit-input-placeholder {
  color: #999999;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

textarea:-ms-input-placeholder {
  color: #999999;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

textarea::-ms-input-placeholder {
  color: #999999;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

textarea::placeholder {
  color: #999999;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

textarea:focus::-webkit-input-placeholder {
  font-size: 0px;
}

textarea:focus:-ms-input-placeholder {
  font-size: 0px;
}

textarea:focus::-ms-input-placeholder {
  font-size: 0px;
}

textarea:focus::placeholder {
  font-size: 0px;
}

.button {
  display: inline-block;
  vertical-align: top;
  padding: 9px 23px;
  padding-top: 12px;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  white-space: normal;
  background-color: #f26843;
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  -webkit-box-shadow: 0 2px 1px 0 rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 1px 0 rgba(172, 16, 0, 0.64);
  color: #ffffff;
  border: none;
  border-radius: 18px 18px 18px 18px;
  cursor: pointer;
  outline: none;
}

.button:hover,
.button:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px 0 #ac1000;
          box-shadow: 0 2px 2px 0 #ac1000;
}
.button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px 0 #ac1000;
          box-shadow: inset 0 2px 2px 0 #ac1000;
}

.catalog-logo {
	outline: none;
}

.blog-subscribe-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	margin: 0 0;
	margin-bottom: 40px;
}

.container {
	padding: 0 2.3%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-logo,
.catalog-logo {
	width: 154px;
	height: 64px;
	margin-right: 9px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
/*--------------------Навигация по сайту---------------------*/
.main-header {
	padding: 0 2.3%;
	padding-top: 9px;
	margin-bottom: 0;
}

.main-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
}


.site-navigation {
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	color: #ffffff;

	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	margin: 0;
	padding: 0;
}


.site-navigation-item > a {
	display: inline-block;
  	vertical-align: top;
  	text-align: center;
  	padding: 6px 14px;
  	padding-bottom: 8px;
    word-wrap: break-word;
	color: #ffffff;
	border-radius: 20px;
}

.site-navigation-item > a:hover,
.site-navigation-item > a:focus {
	color: #333333;
	background-color: #f7f6f3;
	text-decoration: none;
	outline: none;
}

.site-navigation-item > a:active {
	color: #323232;
    background-color: #f7f6f3;
    border-radius: 16px;
    -webkit-box-shadow: inset 0 2px 2px #696969;
            box-shadow: inset 0 2px 2px #696969;
    text-decoration: none;
}

.site-navigation-item .curent {
	background-color: #d07058;
	text-decoration: none;
}

.site-navigation li:first-child {
	position: relative;
}

.catalog-navigation {
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	color: #323232;

	list-style: none;

	position: absolute;
	z-index: 1000;
	top: 37px;
	left: -6px;
	min-width:  143px;
  	margin: 0px;
  	padding: 0px;
	background: #f8f7f4;
	border-radius: 5px;
	-webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	        box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	visibility: hidden;
}

.catalog-navigation-item a {
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	color: #323232;
	text-align: left;

	display: block;
	padding-left: 20px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 7px;
	border-radius: 0;
}

.catalog-navigation .title {
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 12px;
	padding-left: 15px;
	margin-right: 10px;
	margin-left: 5px;
	border-bottom: 1px solid rgba(53, 53, 53, 0.2);
}

.catalog-navigation-item:last-child a {
	padding-bottom: 15px;
	border-radius: 5px;
}

.site-navigation-item:hover .catalog-navigation {
	visibility: visible;
}

.catalog-navigation-item a:hover,
.catalog-navigation-item a:focus {
	background-color: #fbded7;
	outline: none;
}

.catalog-navigation-item a:active {
	background-color: #f6b5a5;
}

.catalog-navigation-item .curent {
	background-color: #d07058;
	text-decoration: none;
}
/*----------------Пользовательская навигация-----------------*/
.user-navigation {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #ffffff;

	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0;
	padding: 0;
}

.user-navigation-item > a {
	position: relative;
	display: inline-block;
  	vertical-align: top;
  	text-align: center;
  	padding: 8px 35px;
  	padding-left: 44px;
    word-wrap: break-word;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
	text-decoration: none;
}

.user-basket-full > a {
	padding-right: 20px;
	padding-left: 40px;
	color: #323232;
	background-color: rgba(248, 247, 244, 1);
}

.user-basket-full > a path,
.user-basket-full > a circle {
	fill: #000000;
}

.user-navigation-item > a:hover,
.user-navigation-item > a:focus {
	color: #323232;
	background-color: rgba(248, 247, 244, 1);
	outline: none;
}

.user-navigation-item > a:hover path,
.user-navigation-item > a:focus path,
.user-navigation-item > a:hover circle,
.user-navigation-item > a:focus circle {
	fill: #000000;
}

.user-navigation-item-icon {
	position: absolute;
	top: 6px;
	left: 15px;
}

.user-search > a {
	padding: 6px 8px;
}

.user-login > a {
	padding-right: 16px;
}

.user-navigation-item {
	position: relative;
	margin-right: 10px;
}

.user-navigation-item:last-child {
	margin-right: 0px;
}

.user-search .search {
	position: absolute;
	z-index: 1000;
	top: 36px;
	left: -271px;
	min-width: 340px;
	min-height: 84px;
	background-color: #f8f7f4;
	border-radius: 5px;
	-webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	        box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	visibility: hidden;

}

.user-search:hover .search {
	visibility: visible;
}

.user-basket-full:hover .basket {
	visibility: visible;
}

.search-form input[type=search] {
	min-width: 309px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 15px;
	margin-left: 15px;
}

.user-login .login {
	position: absolute;
	top: 35px;
	left: -216px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	z-index: 1000;
	font-size: 0;
	max-width: 280px; /*реальный 276*/
	min-height: 214px;
	padding: 20px 20px;
	padding-right: 10px;
	background-color: #f8f7f4;
	border-radius: 5px;
	-webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	        box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	visibility: hidden;
}

.user-login:hover .login {
	visibility: visible;
}

.login-form input[type="email"],
.login-form input[type="password"] {
	margin-bottom: 20px;
}

.login-form-links {
	display: inline-block;
	vertical-align: top;
	padding-left: 20px;
}

.restore,
.registration {
	display: block;
	font-size: 13px;
	line-height: 21px;
	font-weight: normal;
	color: #323232;
	text-decoration: underline;
	-webkit-text-decoration-color: rgba(0, 0, 0, 0.3);
	        text-decoration-color: rgba(0, 0, 0, 0.3);
}

.restore:hover,
.registration:hover,
.restore:focus,
.registration:focus,
.restore:active,
.registration:active {
	color: rgba(232, 77, 55, 1);
	-webkit-text-decoration-color: rgba(232, 77, 55, 0.3);
	        text-decoration-color: rgba(232, 77, 55, 0.3);
	outline: none;
}

/*------------------------Корзина товаов--------------------*/
.basket {
	visibility: hidden;
	position: absolute;
	top: 34px;
	left: -423px;
}

.basket-table {
  	padding: 20px 10px;
  	padding-bottom: 18px;
  	border-collapse: separate;
  	width: 540px;
  	font-size: 13px;
  	line-height: 16px;
  	font-weight: normal;
  	color: #323232;
  	background-color: #f8f7f4;
  	border-radius: 5px;
  	-webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  	        box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  	cursor: default;
  	z-index: 1100;
}

.product-delete {
  	display: inline-block;
  	vertical-align: top;
  	position: relative;
  	width: 14px;
  	height: 14px;
  	font-size: 0px;
  	-webkit-box-shadow: none;
  	        box-shadow: none;
  	border: none;
  	cursor: pointer;
  	outline: none;
  	background-color: transparent;
}


.product-delete::before,
.product-delete::after {
  	content: "";
  	position: absolute;
  	top: 50%;
  	left: 0;
  	width: 14px;
  	height: 1px;
  	background-color: #231f20;
}

.product-delete::before {
  	-webkit-transform: rotate(45deg);
  	    -ms-transform: rotate(45deg);
  	        transform: rotate(45deg);
}

.product-delete::after {
  	-webkit-transform: rotate(-45deg);
  	    -ms-transform: rotate(-45deg);
  	        transform: rotate(-45deg);
}

.basket-table-item-total {
  	text-align: right;
}
.basket-table-item-total td {
  	padding: 0px;
  	text-align: right;
}
.basket-table-col {
  	margin: 0px;
  	padding: 0px;
  	padding-bottom: 15px;
  	vertical-align: middle;
}
.basket-table-col-control {
  	font-size: 0px;
  	text-align: center;
}
.basket-table-col-preview {
  	font-size: 0px;
  	text-align: center;
}
.basket-table-col-preview img {
  	display: inline-block;
  	vertical-align: top;
}
.basket-table-col-label {
  	padding-top: 10px;
  	width: 225px;
  	vertical-align: top;
}
.basket-table-col-price {
  	width: 145px;
 	text-align: center;
}
.basket-table-price {
  	color: #999999;
}
.basket-table-total {
	display: block;
  	padding: 15px 0px;
  	font-size: 15px;
  	line-height: 18px;
  	font-style: normal;
  	font-weight: bold;
  	border-top: 1px solid #cacac7;
}

.issue-order {
	padding: 10px 17px;
  	padding-top: 9px;
}
/*----------------Короткие контакты-------------------*/
.short-contacts {
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	color: #ffffff;
	text-align: right;
}

.short-contacts-catalog-wrapper {
	float: right;
}

.short-contacts a {
	font-size: 22px;
	line-height: 24px;
	color: #ffffff;
	text-decoration: none;
}

.working-hours {
	display: inline-block;
	margin-bottom: 5px;
}
/*------------------Слайдер----------------------*/
.content-wrapper {
    width: 1200px;
    margin: 0 auto;
}

.page-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: top center;
}

.offers-slider {
  position: relative;
  padding-top: 275px;
  padding-bottom: 5px;
  margin-bottom: 29px;
}

.radio-slider-btn-1,
.radio-slider-btn-2,
.radio-slider-btn-3 {
	display: none;
}

#slider-btn-1:checked ~ .page-wrapper .offers-slider .slide-1,
#slider-btn-2:checked ~ .page-wrapper .offers-slider .slide-2,
#slider-btn-3:checked ~ .page-wrapper .offers-slider .slide-3 {
	display: block;
}

#slider-btn-1:checked ~ .page-wrapper .slider-controls label[for="slider-btn-1"],
#slider-btn-2:checked ~ .page-wrapper .slider-controls label[for="slider-btn-2"],
#slider-btn-3:checked ~ .page-wrapper .slider-controls label[for="slider-btn-3"] {
	background-color: #ffffff;
}

#slider-btn-1:checked ~ .page-wrapper {
	background-color: #849d8f;
	background-image: url(../img/slide-1.png);
}

#slider-btn-2:checked ~ .page-wrapper {
	background-color: #8996a6;
	background-image: url(../img/slide-2.png);
}

#slider-btn-3:checked ~ .page-wrapper {
	background-color: #9d8b84;
	background-image: url(../img/slide-3.png);
}

.slider-inner {
	max-height: 215px;
  	overflow: hidden;
  	padding-bottom: 5px;
}

.slide-1,
.slide-2,
.slide-3 {
	display: none;
	position: relative;
	text-align: center;
}

.slider-item {
	padding-bottom: 5px;
}

.slider-item  h3 {
	display: block;
    margin: 0px auto;
    margin-bottom: 30px;
    width: 675px;
    font-size: 60px;
    line-height: 60.35px;
    font-weight: bold;
    text-align: center;
}

.slider-controls {
  	position: absolute;
  	padding: 0;
  	bottom: 33px;
  	left: 0px;
  	font-size: 0px;
  	z-index: 120;
}
.slider-controls label {
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.slider-controls label:active {
  background-color: #ffffff;
}

.slider-button {
	font-size: 32px;
	line-height: 44px;
	border-radius: 30px;
	padding: 9px 40px;
	padding-bottom: 12px;
}
/*----------------------Специальные предложения----------------------*/
.special-offers {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0 0;
	margin-bottom: 40px;

}
.special-offer {
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	color: #ffffff;
	text-align: right;

	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
	width: 560px;
	min-height: 227px;
	padding: 25px 18px;
	padding-right: 20px;
	border-radius: 15px;
}

.special-offer h3 {
	font-size: 35px;
	font-weight: 41px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-align: left;
}

.special-offer p {
	margin-top: 26px;
	text-align: left;
}

.special-offer .button {
	margin-top: 25px;
	border-radius: 30px;
	padding: 9px 23px;
	padding-bottom: 12px;
}

.special-offer-1 {
	background-color: #5d111f;
	background-image: url(../img/special-offer-1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: content;
}

.special-offer-2 {
	background-color: #3d2216;
	background-image: url(../img/special-offer-2.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: content;
}
/*----------------------Популярные товары---------------------------*/
.popular-goods {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #ffffff;
}

.popular-goods-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-ms-flex-line-pack: stretch;
	    align-content: stretch;
	list-style: none;
	margin: 0;
	padding: 0;
}

.popular-goods-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: column-reverse;
	        flex-direction: column-reverse;
	position: relative;
	z-index: 130;
	max-width: 267px;
	text-align: center;
	margin-bottom: 37px;
}


.popular-goods-item h3 {
	display: block;
	padding: 0;
	margin: 0;
	margin-top: 13px;
	z-index: 130;
}

.popular-goods-item:hover .popular-goods-wrapper {
	visibility: visible;
}

.popular-goods-item:hover ~ .popular-goods-item {
	z-index: 110;
}

.popular-goods-item img {
	width: 100%;
	border-radius: 50%;
	overflow: hidden;
}

.popular-goods-item::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 61px;
	height: 61px;
	background-image: url(../img/hit.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

.popular-goods-item-link {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #ffffff;
	text-decoration: underline;
	-webkit-text-decoration-color: rgba(255, 255, 255, 0.2);
	        text-decoration-color: rgba(255, 255, 255, 0.2);
}

.popular-goods-item-link:hover,
.popular-goods-item-link:focus,
.popular-goods-item-link:active {
	color: rgba(255, 188, 158, 1);
	-webkit-text-decoration-color: rgba(255, 188, 158, 0.2);
	        text-decoration-color: rgba(255, 188, 158, 0.2);
}

.popular-goods-price {
	display: block;
	position: absolute;
	z-index: 120;
	top: 194px;
	left: 0;
}

.popular-goods-price:hover {
	cursor: pointer;
}

.popular-goods-price .price-value {
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;

	margin-right: 30px;
}

.popular-goods-price .price-value::before {
	position: absolute;
	top: 7px;
	right: 40px;
	content: "";
	width: 32px;
	height: 32px;
	background-image: url(../img/ruble.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

.popular-goods-price .measure {
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
}

.popular-goods-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	position: absolute;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	top: -5px;
	left: -12.3px;
	z-index: 100;
	padding-bottom: 23px;
	min-width: 293px;
	min-height: 404px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	        box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	visibility: hidden;
}

.popular-goods-item .button {
	padding: 9px 23px;
  	padding-top: 12px;
	border-radius: 30px;
}
/*---------------Информация о магазине------------------*/
.shop-info {
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	color: #323232;

	max-width: 1146px;
	min-height: 306px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	background-image: url(../img/pattern-info.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 15px;

	padding: 25px 0;
	padding-left: 20px;
	padding-bottom: 0;
	margin: 0 auto;
	margin-bottom: 40px;
}

.shop-info-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;

	list-style: none;
	margin: 0;
	margin-top: 10px;
	padding: 0;
}

.shop-info-item {
	position: relative;
	-webkit-box-flex: 0;
	    -ms-flex-positive: 0;
	        flex-grow: 0;
	-ms-flex-negative: 1;
	    flex-shrink: 1;
	-ms-flex-preferred-size: auto;
	    flex-basis: auto;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 50%;
	padding: 11px;
  	padding-left: 58px;
  	padding-right: 21px;
}

.shop-info-item > p {
	margin: 0;
	padding: 0;
}

.shop-info > p {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;

	padding: 0;
	margin: 0;
}

.shop-info-item::before {
	position: absolute;
	top: -2px;
	left: 0;
	content: "";
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

.shop-info-item:nth-child(1)::before {
	background-image: url(../img/ice-cream.svg);
}

.shop-info-item:nth-child(2)::before {
	background-image: url(../img/cow.svg);
}

.shop-info-item:nth-child(3)::before {
	background-image: url(../img/eco.svg);
}

.shop-info-item:nth-child(4)::before {
	background-image: url(../img/thermometer.svg);
}

/*--------------------Блог магазина глэйси--------------------*/
.shop-blog {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #323232;

	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
	max-width: 560px;
	min-height: 220px;
	padding: 23px 21px;
	padding-right: 250px;
	background-color: #ffffff;
	background-image: url(../img/shop-blog.jpg);
	background-repeat: no-repeat;
	background-position: -50px -225px;
	border-radius: 15px;
}

.blog-new-article {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	color: #323232;
	text-decoration: underline;
	-webkit-text-decoration-color: #323232;
	        text-decoration-color: #323232;

}

.blog-new-article:hover,
.blog-new-article:focus,
.blog-new-article:active {
	color: rgba(232, 77, 55, 1);
	-webkit-text-decoration-color: rgba(232, 77, 55, 0.3);
	        text-decoration-color: rgba(232, 77, 55, 0.3);
	outline: none;
}

.blog-new {
	display: inline-block;
	margin: 0;
	margin-bottom: 3px;
	padding: 0;
}

.shop-blog h3 {
	margin: 0;
	padding: 0;
}
/*----------------------Форма подписки------------------*/
.subscribe {
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	color: #5a5a5a;

	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
	max-width: 560px;
	min-height: 220px;
	padding: 29px 21px;
	padding-right: 10px;
	margin: 0;
	border: 5px solid black;
	-webkit-border-image:  url(../img/subscribe-image.svg) 5 round round;
	     -o-border-image:  url(../img/subscribe-image.svg) 5 round round;
	        border-image:  url(../img/subscribe-image.svg) 5 round round;
	background-color: #f8f7f4;
	border-radius: 15px;
}

.subscribe p {
	margin: 0;
	padding: 0;
}

.subscribe-form {
	margin-top: 38px;
}

.subscribe-form input[type="email"] {
	min-width: 367px;
	margin-right: 6px;

}

.subscribe input[type=email]::-webkit-input-placeholder {
	font-size: 16px;
	line-height: 24px;
}

.subscribe input[type=email]:-ms-input-placeholder {
	font-size: 16px;
	line-height: 24px;
}

.subscribe input[type=email]::-ms-input-placeholder {
	font-size: 16px;
	line-height: 24px;
}

.subscribe input[type=email]::placeholder {
	font-size: 16px;
	line-height: 24px;
}

.subscribe-form .button {
	border-radius: 30px;
	padding: 10px 20px;
}
/*------------------------Карта----------------------------*/
.map {
	position: relative;
}
/*---------------------Основные контакты------------------*/
.main-contacts {
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	color: #323232;
	text-align: left;

	position: absolute;
	top: 62px;
	right: 27px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	max-width: 301px;
	min-height: 305px;
	padding-left: 25px;
	padding-top: 29px;
	padding-right: 10px;
	padding-bottom: 31px;
	background-color: #ffffff;
	border-radius: 15px;
}

.main-contacts p {
	display: inline-block;
	padding: 0;
	padding-bottom: 20px;
	margin: 0;
}

.main-contacts .address {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

.main-contacts .phone {
	font-size: 18px;
	line-height: 28px;
	font-weight: bold;
}

.main-contacts .button {
	margin-top: 7px;
	padding: 10px 29px;
	border-radius: 30px;

}
/*----------------------Футер--------------------*/
.main-footer {
	font-size: 13px;
	line-height: 18px;
	color: #ffffff;
	font-weight: normal;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0 2.3%;
	min-height: 104px;
}

.catalog-footer-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	padding-top: 24px;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-social {
	width: 267px;
	margin-right: 26px;
}

.suppliers-navigation {
	width: 560px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin-right: 26px;
	padding: 0 120px;
	padding-left: 126px;
}


.footer-copyright {
	width: 267px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding-left: 65px;
}

.social-button {
	margin-right: 11px;
}

.social-button-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  	-webkit-box-align: center;
  	    -ms-flex-align: center;
  	        align-items: center;
  	-webkit-box-pack: center;
  	    -ms-flex-pack: center;
  	        justify-content: center;
  	-webkit-box-sizing: border-box;
  	        box-sizing: border-box;
	width: 37px;
	height: 37px;
	border: 3px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
}

.social-button-link path {
	fill: rgba(255, 255, 255, 0.8);
}

.social-button-link:hover,
.social-button-link:focus {
	outline: none;
	border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-button-link:active {
	border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-button-link:hover path,
.social-button-link:focus path {
	fill: rgba(255, 255, 255, 1);
}

.social-button-link:active path {
	fill: #e9e9e9;
}

.footer-social-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.suppliers-navigation-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

.suppliers-navigation-item {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
}

.suppliers-navigation-item:nth-child(1) {
	position: relative;
	margin-right: 32px;
}

.suppliers-navigation-item:nth-child(3) {
	margin-right: 43px;
}

.suppliers-navigation-item:nth-child(1)::before {
	position: absolute;
	top: 3px;
	left: -22px;
	content: "";
	height: 13px;
	width: 15px;
	background-image: url(../img/heart.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

.suppliers-navigation-list a {
	color: #ffffff;
	text-decoration: underline;
	-webkit-text-decoration-color: rgba(255, 255, 255, 0.2);
	        text-decoration-color: rgba(255, 255, 255, 0.2);
}

.suppliers-navigation-list a:hover,
.suppliers-navigation-list a:focus,
.suppliers-navigation-list a:active {
	color: rgba(255, 188, 158, 1);
	-webkit-text-decoration-color: rgba(255, 188, 158, 0.2);
	        text-decoration-color: rgba(255, 188, 158, 0.2);
	outline:none;
}

.suppliers-navigation-item:first-child {
	font-weight: bold;
}

.footer-copyright p {
	margin: 0;
	padding: 0;
}

.footer-copyright a {
	color: #ffffff;
	text-decoration: underline;
	-webkit-text-decoration-color: rgba(255, 255, 255, 0.2);
	        text-decoration-color: rgba(255, 255, 255, 0.2);
}

.footer-copyright a:hover,
.footer-copyright a:focus,
.footer-copyright a:active {
	color: rgba(255, 188, 158, 1);
	-webkit-text-decoration-color: rgba(255, 188, 158, 0.2);
	        text-decoration-color: rgba(255, 188, 158, 0.2);
	outline: none;
}
/*--------------------Всплывающее окно обратной связи-----------------*/
.popup {
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
	color: #323232;

	/*position: fixed;*/
	/*top: 50%;
	left: 50%;*/
	position: relative;  /*временно релатив*/
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	max-width: 477px;
	min-height: 442px;
	margin: 0 auto;
	padding: 16px 23px;
	background-color: #f8f7f4;
	border-radius: 10px;
}

.popup input[type="text"] {
	margin-top: 20px;
}

.popup input[type="text"],
.popup input[type="email"] {
	min-width: 267px;
}

.popup input[type="text"],
.popup input[type="email"],
.popup textarea {
	margin-bottom: 20px;
}

.popup textarea {
	margin-bottom: 18px;
}

.popup input[type="text"]::-webkit-input-placeholder,
.popup input[type="email"]::-webkit-input-placeholder,
.popup textarea::-webkit-input-placeholder {
	font-size: 16px;
	line-height: 24px;
}

.popup input[type="text"]:-ms-input-placeholder,
.popup input[type="email"]:-ms-input-placeholder,
.popup textarea:-ms-input-placeholder {
	font-size: 16px;
	line-height: 24px;
}

.popup input[type="text"]::-ms-input-placeholder,
.popup input[type="email"]::-ms-input-placeholder,
.popup textarea::-ms-input-placeholder {
	font-size: 16px;
	line-height: 24px;
}

.popup input[type="text"]::placeholder,
.popup input[type="email"]::placeholder,
.popup textarea::placeholder {
	font-size: 16px;
	line-height: 24px;
}

.popup .button {
	padding: 10px 23px;
	margin-left: 292px;
	border-radius: 30px;
}

.popup .modal-close {
 	position: absolute;
  	top: 13px;
  	right: 25px;
  	width: 20px;
  	height: 20px;
  	font-size: 0;
  	border: 0;
  	background-color: transparent;
  	cursor: pointer;
}

.popup .modal-close::before,
.popup .modal-close::after {
  	content: "";
  	position: absolute;
  	width: 22px;
  	height: 2px;
  	background-color: #231f20;
}

.popup .modal-close::before {
  	-webkit-transform: rotate(45deg);
  	    -ms-transform: rotate(45deg);
  	        transform: rotate(45deg);
}

.popup .modal-close::after {
  	-webkit-transform: rotate(-45deg);
  	    -ms-transform: rotate(-45deg);
  	        transform: rotate(-45deg);
}
/*------------------Хлебные крошки---------------------*/
.breadcrumbs {
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	color: #ffffff;

	list-style: none;
	margin: 0;
	margin-top: 27px;
	padding: 0;
}

.breadcrumbs li {
	display: inline-block;
  	vertical-align: top;
  	position: relative;
}

.breadcrumbs li:nth-child(n + 2) {
  padding-left: 16px;
}
.breadcrumbs li:nth-child(n + 2)::before {
	position: absolute;
  	content: "»";
  	font-size: 14px;
  	line-height: 16px;
  	font-weight: normal;
  	top: 0px;
  	left: 3px;
}

.breadcrumbs a {
	color: #ffffff;
	text-decoration: underline;
	-webkit-text-decoration-color: rgba(255, 255, 255, 0.2);
	        text-decoration-color: rgba(255, 255, 255, 0.2);
}

.breadcrumbs a:hover,
.breadcrumbs a:active,
.breadcrumbs a:focus {
	color: rgba(255, 188, 158, 1);
	-webkit-text-decoration-color: rgba(255, 188, 158, 0.2);
	        text-decoration-color: rgba(255, 188, 158, 0.2);
	outline:none;
}

.page-title {
	font-size: 35px;
	line-height: 41px;
	font-weight: bold;
	color: #ffffff;

	margin: 0;
	margin-top: 4px;
	padding: 0;
}
/*----------------------Фильтр товаров------------------*/
.filters {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #ffffff;
	margin-top: 23px;
	margin-bottom: 39px;
}

.filters-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-ms-flex-line-pack: justify;
	    align-content: space-between;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	min-height: 135px;
}

.filters-form select {
	-moz-appearance: none;
	-webkit-appearance: none;
		appearance: none;
}

.filters-form select::ms-expand {
	display:none;
}

.filters-form select,
.filters-form label {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-transform: lowercase;
	color: #ffffff;
}

.fat-content-option label {
	padding-left: 47px;
}

.fillers-option label {
	padding-left: 52px;
}

.filters-form .first-label {
	padding-left: 26px;
}

.filters-form fieldset {
	border: none;
	padding: 0;
	margin: 0;
	margin-right: 15px;
}

.filters-form option {
	color: #323232;
}

.filters-form option:hover {
	color: #ffffff;
}

.filters-form select {
	font-weight: 500;
	display: inline-block;
	padding: 7px 15px;
	padding-right: 35px;
	border-radius: 20px 20px 20px 20px;
	background-color: rgba(255, 255, 255, 0.2);
	background-image: url(../img/select-arrow.svg);
	background-position: 168px center;
	background-repeat: no-repeat;
}

.filters-form select:hover {
	color: #323232;
}

.filters-form select:active,
.filters-form select:focus {
	color: #323232;
	background-color: #ffffff;
	outline: none;
	background-image: url(../img/select-arrow-b.svg);
}

.filters-form legend {
	margin-left: 16px;
	margin-bottom: 7px;
}

.fat-content-option label::before {
	position: absolute;
	content: "";
	background-image: url(../img/radio-off.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	width: 22px;
	height: 22px;
	top: -3px;
	left: 14px;
	opacity: 0.8;
}

.fat-content-option input[type="radio"]:checked ~ label::before {
	background-image: url(../img/radio-on.svg);
}

.fat-content-option label:hover::before,
.fat-content-option label:focus::before {
	opacity: 1;
}

.fat-content-option label:focus {
	outline: none;
}

.fat-content-option .first-label::before {
	top: -3px;
	left: -6px;
}

.fat-content-option input[type="radio"]:disabled ~ label::before {
	opacity: 0.4;
}

.fillers-option label::before {
	position: absolute;
	content: "";
	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 90%;
	width: 23px;
	height: 23px;
	top: -3px;
	left: 17px;
	opacity: 0.8;
}

.fillers-option input[type="checkbox"]:checked ~ label::before {
	background-image: url(../img/checkbox-on.svg);
	background-size: 100%;

}

.fillers-option label:hover::before,
.fillers-option label:focus::before {
	opacity: 1;
}

.fillers-option label:focus {
	outline: none;
}

.fillers-option .first-label::before {
	top: -3px;
	left: -6px;
}

.fillers-option input[type="checkbox"]:disabled ~ label::before {
	opacity: 0.4;
}

.price-range-value {
	display: block;
	margin: 0;
	padding: 0;
	margin-left: 15px;
	margin-bottom: 7px;
}

.fat-content-list,
.fillers-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.fat-content-list,
.fillers-list {
	display: block;
	padding: 9px 20px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;

}

.fillers-option,
.fat-content-option {
	display: inline-block;
	position: relative;
}

.price-range {
	position: relative;
	width: 218px;
	height: 36px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
}

.price-range-line-nonchecked {
	position: absolute;
	top: 16px;
	right: 21px;
	width: 176px;
	height: 4px;
	background-color: rgba(250, 250, 250, 0.5);
}

.price-range-line-checked {
	position: absolute;
	top: 16px;
	right: 70px;
	width: 104px;
	height: 4px;
	background-color: #ffffff;
}

.price-range-lever-1, 
.price-range-lever-2 {
	position: absolute;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background-color: transparent;
	background-image: url("../img/lever.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 20px 20px;
}

.price-range-lever-1 {
	top: 8px;
	left: 34px;
}

.price-range-lever-2 {
	top: 8px;
	right: 66px;
}

.price-range-lever-1:hover, 
.price-range-lever-2:hover,
.price-range-lever-1:focus, 
.price-range-lever-2:focus {
	outline: none;
	cursor: pointer;
	-webkit-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	        transform: scale(1.2);
}

.filter-button {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	display: inline-block;
  	vertical-align: top;
  	text-align: center;
  	padding: 7px 30px;
    word-wrap: break-word;
    color: #ffffff;
    border: 2px solid #fbfcfb;
    background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px 20px 20px 20px;
	text-decoration: none;
}

.filter-button:hover,
.filter-button:focus {
	color: #323232;
	background-color: #ffffff;
	outline: none;
}

.filter-button:active {
	color: #323232;
    background-color: #ededed;
    border-radius: 16px;
    border: none;
    -webkit-box-shadow: inset 0 2px 2px #696969;
            box-shadow: inset 0 2px 2px #696969;
    padding: 9px 32px;
}
/*------------------------Каталог товаров--------------------------*/
.catalog {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #ffffff;

	margin-bottom: 37px;
}

.catalog-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-ms-flex-line-pack: stretch;
	    align-content: stretch;
	list-style: none;
	margin: 0;
	padding: 0;
}

.catalog-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: column-reverse;
	        flex-direction: column-reverse;
	position: relative;
	z-index: 130;
	max-width: 267px;
	text-align: center;
	margin-right: 25.5px;
	margin-bottom: 37px;

}

.catalog-item:nth-child(4n) {
	margin-right: 0;
}

.catalog-item h3 {
	display: block;
	padding: 0;
	margin: 0;
	margin-top: 13px;
	z-index: 130;
}

.catalog-item:hover .catalog-item-wrapper {
	visibility: visible;
}

.catalog-item:hover ~ .catalog-item {
	z-index: 110;
}

.catalog-item img {
	width: 100%;
	border-radius: 50%;
	overflow: hidden;
}

.catalog-item-link {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #ffffff;
	text-decoration: underline;
	-webkit-text-decoration-color: rgba(255, 255, 255, 0.2);
	        text-decoration-color: rgba(255, 255, 255, 0.2);
}

.catalog-item-link:hover,
.catalog-item-link:focus,
.catalog-item-link:active {
	color: rgba(255, 188, 158, 1);
	-webkit-text-decoration-color: rgba(255, 188, 158, 0.2);
	        text-decoration-color: rgba(255, 188, 158, 0.2);
}

.catalog-item-price {
	display: block;
	position: absolute;
	z-index: 130;
	top: 194px;
	left: 0;
}

.catalog-item-price:hover {
	cursor: pointer;
}

.catalog-item-price .price-value {
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;

	margin-right: 30px;
}

.catalog-item-price .price-value::before {
	position: absolute;
	top: 7px;
	right: 40px;
	content: "";
	width: 32px;
	height: 32px;
	background-image: url(../img/ruble.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

.catalog-item-price .measure {
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
}

.catalog-item-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	position: absolute;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	top: -5px;
	left: -12.3px;
	z-index: 100;
	padding-bottom: 23px;
	min-width: 293px;
	min-height: 404px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	        box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	visibility: hidden;
}

.catalog-item .button {
	padding: 9px 23px;
  	padding-top: 12px;
	border-radius: 30px;
}
/*-----------------------------Пагинатор-----------------------------------*/
.pagination-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;

	margin: 0;
	padding: 0;
	list-style: none;
}

.pagination-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	margin-bottom: 24px;
}

.pagination-item {
	text-align: center;
	margin-right: 2px;
}

.pagination-item-link {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;

	display: block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding-top: 4px;
	width: 26px;
	height: 26px;
	text-decoration: none;
	border-radius: 50%;
}

.pagination-item .curent {
	color: #323232;
	background-color: #ffffff;
}

.pagination-item .curent:hover,
.pagination-item .curent:focus {
	background-color: #ffffff;
	cursor: default;
}

.pagination-item-link:hover,
.pagination-item-link:focus {
	background-color: rgba(255, 255, 255, 0.2);
	outline: none;
}

.pagination-list .prev path,
.pagination-list .next path {
	fill: #ffffff;
}

.pagination-list .next:active path,
.pagination-list .next:active path {
	fill: #323232;
}

.pagination-list .prev svg {
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}

.pagination-list .disabled path {
	fill: rgba(255, 255, 255, 0.2);
}

.pagination-item .disabled {
	background-color: transparent;
	cursor: default;
}

.pagination-item .disabled:hover,
.pagination-item .disabled:focus,
.pagination-item .disabled:active {
	background-color: transparent;
}

.pagination-item-link:active {
	background-color: #ffffff;
	color: #323232;
}
